# build output
dist/
.output/

# dependencies
node_modules/

# astro
.astro/

# tina (généré)
public/admin/
tina/__generated__/
.tina/__generated__/

# env & secrets
.env
.env.*
!.env.example

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
